= form_for [parent, resource] do |f|
  =# debug f.object.errors unless f.object.errors.empty?
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :url
    = f.text_field :url
  %p
    = f.label :image
    = f.file_field :image
  %p
    = f.label :show_stock
    = f.text_field :show_stock
  %p
    = f.label :click_stock
    = f.text_field :click_stock
  = f.submit
