%ul.breadcrumb
  %li
    = link_to 'Your Sites', :sites
    %span.divider /
  %li
    = link_to @site.name, @site
    %span.divider /
  %li
    = link_to "Banners", [@site, :banners]
    %span.divider /
  %li= @banner.name
  
= @banner.url
- if @banner.image
  = image_tag @banner.image.url
.actions
  = link_to 'Edit', [:edit, @site, @banner]
