= link_to 'Sites', :sites
&rarr;
= link_to @banner.site.name, @banner.site
&rarr;
%h1= @banner.name
= @banner.url
- if @banner.image
  = image_tag @banner.image.url
.actions
  = link_to 'Edit', [:edit, @site, @banner]
